ibm-cloud-sdk-core
ibm-platform-services
ibm-vpc
requests
pytz==2022.1
google-api-core==2.8.1
google-api-python-client==2.49.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.56.2